html, body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f0f0f0;
    margin:0;
}

p {
    padding-top: 2px;
    padding-bottom: 2px;
}

.wrapper-img{    
    width:100%;
    height: auto;
    display: block;
    filter: brightness(60%);
}
